body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    color: rgb(197, 42, 42);
}

.calculator {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(43, 42, 42, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.display {
    background: #272727;
    color: #ffffff;
    padding: 15px;
    text-align: right;
}

.display input {
    width: 100%;
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(53, 53, 53);
    gap: 1px;
}

button {
    background: #272727;
    color: #ffffff;
    border: none;
    padding: 20px;
    margin: 5px;
    border-radius: .5rem;
    row-gap: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #4e4e4e;
}

button:active {
    background: #989898;
}

button:nth-child(4n) {
    background: #6bd852;
    color: #ffffff;
}

button:nth-child(4n):hover {
    background: hsl(109, 97%, 50%);
}

button:nth-child(4n):active {
    background: hwb(90 99% 0%);
}

/* Responsive */
@media (max-width: 600px) {
    button {
        padding: 15px;
        font-size: 1rem;
    }

    .display input {
        font-size: 1.5rem;
    }
}